<mat-drawer-container id="homePage" autosize>
  <mat-drawer #drawer class="sidenav-menu" mode="side" opened>
    <!-- Logo websites -->
    <div class="logo-container">
      <img [src]="userInfo.avatar ??  avatar" class="logo" />
      <div class="title">
        {{ userInfo.name ?? "Tài khoản không xác định" }}
      </div>
    </div>
    <!-- Logo websites -->
    <!-- List menu -->
    <app-menu #viewMenu [menuPermissions]="menuPermissions"></app-menu>
    <!-- List menu -->
  </mat-drawer>

  <div class="">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container>

<app-load-panel-devextreme [InputMaster]="loading"></app-load-panel-devextreme>
