@import '../../../../assets/scss/core.scss';

#homePage {
  height: 100vh;
  width: 100vw;
  background-color: $color3;
  user-select: none;

  .sidenav-menu {
    width: 230px;
    background-color: $color2;
    box-shadow: $boxShadow1;
  }

  .logo-container {
    width: auto;
    margin: 20px 10px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      background-color: $color8;
      height: 75px;
      width: 75px;
      border-radius: 100%;
      margin-bottom: 10px;
    }

    .title {
      font-size: medium;
      font-weight: 500;
      color: $color1;
      user-select: none;
      margin-bottom: 20px;
    }

    .title:hover {
      color: $color5;
      font-weight: bold;
      cursor: pointer;
    }

    .control-user-container {


      display: flex;
      justify-content: space-around;
      align-items: center;

      .item-user-control {
        cursor: pointer;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
      }

      .item-user-control:hover {
        transform: scale(1.03);
      }

      .item-user-control:active {
        transform: scale(0.98);
      }
    }
  }

}
