<dx-popup #popupComponent [visible]="visible" (onHidden)="handleHidden($event)" [closeOnOutsideClick]="false">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <ng-content></ng-content>
    </dx-scroll-view>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [visible]="true"
    [options]="fullButton"
  >
  </dxi-toolbar-item>
  <display-load-panel-devextreme [InputMaster]="loading"></display-load-panel-devextreme>
</dx-popup>
 