<tool-bar-component
  [action_type]="action_type_toolbar"
  [fixed]="true"
  (onActionClick)="handleActionClick($event)"
></tool-bar-component>
<component-avatar-image
  #avatarImageComponent
  [InputMaster]="InputMaster_UserInfo.avatar64"
></component-avatar-image>
<voucher-form-component
  [InputMaster]="InputMaster_UserInfo"
  [table_name]="_tableName2[0]"
></voucher-form-component>

<voucher-form-component
  [InputMaster]="InputMaster_Account"
  [table_name]="_tableName2[1]"
></voucher-form-component>
<voucher-form-component
  [InputMaster]="InputMaster_AccountChangePassword"
  [table_name]="_tableName2[2]"
>
  <div class="control-input align-items-end d-flex pt-1">
    <dx-button (onClick)="handleActionClick({code: 'UPDATE_PASSWORD',})">{{
      translate("Lưu mật khẩu", "Save")
    }}</dx-button>
  </div>
</voucher-form-component>
