$color1: #112D4E;
$color2: #3F72AF;
$color2a: #40699c;
$color2b: #365486;
$color3: #DBE2EF;
$color4: #F9F7F7;
$color5: #FF9494;
$color6: #FFD1D1;
$color7: #FFE3E1;
$color8: #FFF5E4;
$color9: #9BB8CD;
$boxShadow1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$fontSize_small: small;
$fontSize_medium: medium;
$fontSize_large: large;
$fontWeight_title: 500;
$fontWeight_subTitle: 400;
