<dx-data-grid
  #dxDataGridComponent
  [dataSource]="dataSource"
  (onRowClick)="onRowClick.emit($event)"
  (onRowDblClick)="onRowDblClick.emit($event)"
  [focusedRowEnabled]="true"
  [wordWrapEnabled]="true"
  [hoverStateEnabled]="true"
  [activeStateEnabled]="true"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  [headerFilter]="headerFilter"
>
  <dxi-column
    *ngFor="let item of columns; let i = index"
    [dataField]="item.dataField"
    [caption]="item.caption"
    [dataType]="item.dataType"
    [minWidth]="item.width"
    [alignment]="item.alignment"
    [visible]="item.visible"
    [allowFixing]="item.allowFixing"
    [allowSorting]="item.allowSorting"
    [allowFiltering]="item.allowFiltering"
    [allowHiding]="item.allowHiding"
    [allowResizing]="true"
    [allowReordering]="item.allowReordering"
    [allowGrouping]="item.allowGrouping"
    [groupIndex]="item.groupIndex"
    [fixed]="item.allowFixing"
    [fixedPosition]="item.fixedPosition"
    [sortOrder]="item.sortOrder"
    [sortIndex]="item.sortIndex"
    [filterValue]="item.filterValue"
    [type]="item.type"
    [allowSearch]="true"
    [format]="item.format"
  ></dxi-column>
</dx-data-grid>
