.menu-v2-container .dx-treeview-item-without-checkbox.dx-state-selected>.dx-treeview-item {
  background-color: #112D4E;
  border-radius: 3px;
}

.menu-v2-container .dx-state-hover.dx-treeview-item {
  background-color: #112D4E;
  border-radius: 3px;
}


.menu-v2-container .dx-treeview-item-without-checkbox.dx-state-selected>.dx-treeview-item.dx-state-hover {
  background-color: #112D4E;
  border-radius: 3px;
}
