@import url("./js-devextreme.scss");



#theme_Light {

  .theme-text-light {
    color: #BBBFCA !important;
  }

  .theme-bg-light {
    background-color: #fff !important;
  }

  .theme-border-light {
    border-color: #BBBFCA !important;
  }
}


#theme_dark {

  .theme-text-dark {
    color: #E8E8E8 !important;
  }

  .theme-bg-dark {
    background-color: #BBBFCA !important;
  }
}


.limited-1-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.limited-2-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.limited-3-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}


.control-label {
  font-weight: 500;
  margin-bottom: 3px;
  font-size: smaller;
}


