<tool-bar-component
  [action_type]="action_type_toolbar"
  (onActionClick)="handleActionClick($event)"
></tool-bar-component>
<data-grid-component
  #dataGridComponent
  [tableName]="_tableName"
  [propertyDataGrid]="propertyDataGrid"
  [dataSource]="InputMaster"
></data-grid-component>
<app-company-list-managerment-edit
  #companyListManagermentEditComponent
  [filterInput]="filterInput"
  (onEditSuccess)="ActionEditSuccess($event)"
></app-company-list-managerment-edit>
<display-load-panel-devextreme
  [InputMaster]="_loading"
></display-load-panel-devextreme>
