<popup-component
  #popupComponent
  [listAction]="listDialogAction"
  [title]="titlePopUp"
  (actionClick)="onActionClick_PopupComponent($event)"
  [action]="typeAction"
>
  <div class="form-control">
    <div class="form-title">{{ translate("Cấu hình", "Config") }}</div>
    <!-- table_name -->
    <div class="control-input">
      <!-- <control-text-box-component
        [(value)]="InputMaster.table_name"
        [label]="getColumnNameByCode('table_name')"
      ></control-text-box-component> -->
      <control-select-box-component
        [label]="getColumnNameByCode('table_name')"
        [dataSource]="data_source_table_name"
        [(value)]="InputMaster.table_name"
        [displayExpr]="'name'"
        [valueExpr]="'code'"
      ></control-select-box-component>
    </div>

    <!-- dataField -->
    <div class="control-input">
      <control-text-box-component
        [(value)]="InputMaster.dataField"
        [label]="getColumnNameByCode('dataField')"
      ></control-text-box-component>
    </div>
    <!-- caption -->
    <div class="control-input">
      <control-text-box-component
        [(value)]="InputMaster.caption"
        [label]="getColumnNameByCode('caption')"
      ></control-text-box-component>
    </div>
    <!-- caption_VN -->
    <div class="control-input">
      <control-text-box-component
        [(value)]="InputMaster.caption_VN"
        [label]="getColumnNameByCode('caption_VN')"
      ></control-text-box-component>
    </div>
    <!-- dataType -->
    <div class="control-input">
      <control-select-box-component
        [dataSource]="getDataSourceByKey('dataType')"
        [displayExpr]="'name'"
        [valueExpr]="'code'"
        [label]="getColumnNameByCode('dataType')"
        [(value)]="InputMaster.dataType"
      ></control-select-box-component>
    </div>
    <!-- visible -->
    <div class="control-input">
      <control-check-box-component
        [(value)]="InputMaster.visible"
        [label]="getColumnNameByCode('visible')"
      ></control-check-box-component>
    </div>
    <!-- name -->
    <div class="control-input">
      <control-text-box-component
        [(value)]="InputMaster.name"
        [label]="getColumnNameByCode('name')"
      ></control-text-box-component>
    </div>

    <!-- alignment -->
    <div class="control-input">
      <control-select-box-component
        [dataSource]="getDataSourceByKey('alignment')"
        [displayExpr]="'name'"
        [valueExpr]="'code'"
        [label]="getColumnNameByCode('alignment')"
        [(value)]="InputMaster.alignment"
      ></control-select-box-component>
    </div>

    <!-- orderNo -->
    <div class="control-input">
      <control-number-box-component
        [(value)]="InputMaster.orderNo"
        [label]="getColumnNameByCode('orderNo')"
      ></control-number-box-component>
    </div>
  </div>
  <div class="form-control">
    <div class="form-title">{{ translate("Kích thước", "Weight/Height") }}</div>
    <!-- width -->
    <div class="control-input">
      <control-number-box-component
        [(value)]="InputMaster.width"
        [label]="getColumnNameByCode('width')"
      ></control-number-box-component>
    </div>

    <!-- minWidth -->
    <div class="control-input">
      <control-number-box-component
        [(value)]="InputMaster.minWidth"
        [label]="getColumnNameByCode('minWidth')"
      ></control-number-box-component>
    </div>
  </div>
  <div class="form-control">
    <div class="form-title">
      {{ translate("Format display", "Format display") }}
    </div>
    <!-- format -->
    <div class="control-input">
      <control-select-box-component
        [dataSource]="getDataSourceByKey('format')"
        [displayExpr]="'name'"
        [valueExpr]="'code'"
        [label]="getColumnNameByCode('format')"
        [(value)]="InputMaster.format"
      ></control-select-box-component>
    </div>
    <!-- format -->
    <!-- <div class="control-input">
      <control-select-box-component
        [dataSource]="getDataSourceByKey('type')"
        [displayExpr]="'name'"
        [valueExpr]="'code'"
        [label]="getColumnNameByCode('type')"
        [(value)]="InputMaster.type"
      ></control-select-box-component>
    </div> -->
    <!-- displayFormat -->
    <!-- <div class="control-input">
      <control-select-box-component
        [dataSource]="getDataSourceByKey('displayFormat')"
        [displayExpr]="'name'"
        [valueExpr]="'code'"
        [label]="getColumnNameByCode('displayFormat')"
        [(value)]="InputMaster.displayFormat"
      ></control-select-box-component>
    </div> -->
  </div>
  <div class="form-control">
    <div class="form-title">{{ translate("Thuộc tính", "AD") }}</div>
    <!-- allowEditing -->
    <div class="control-input">
      <control-check-box-component
        [(value)]="InputMaster.allowEditing"
        [label]="getColumnNameByCode('allowEditing')"
      ></control-check-box-component>
    </div>
    <!-- allowFiltering -->
    <div class="control-input">
      <control-check-box-component
        [(value)]="InputMaster.allowFiltering"
        [label]="getColumnNameByCode('allowFiltering')"
      ></control-check-box-component>
    </div>
    <!-- allowFixing -->
    <div class="control-input">
      <control-check-box-component
        [(value)]="InputMaster.allowFixing"
        [label]="getColumnNameByCode('allowFixing')"
      ></control-check-box-component>
    </div>
    <!-- allowGrouping -->
    <div class="control-input">
      <control-check-box-component
        [(value)]="InputMaster.allowGrouping"
        [label]="getColumnNameByCode('allowGrouping')"
      ></control-check-box-component>
    </div>
    <!-- allowHeaderFiltering -->
    <div class="control-input">
      <control-check-box-component
        [(value)]="InputMaster.allowHeaderFiltering"
        [label]="getColumnNameByCode('allowHeaderFiltering')"
      ></control-check-box-component>
    </div>
    <!-- allowHiding -->
    <div class="control-input">
      <control-check-box-component
        [(value)]="InputMaster.allowHiding"
        [label]="getColumnNameByCode('allowFilteallowHidingring')"
      ></control-check-box-component>
    </div>
    <!-- allowSearch -->
    <div class="control-input">
      <control-check-box-component
        [(value)]="InputMaster.allowSearch"
        [label]="getColumnNameByCode('allowSearch')"
      ></control-check-box-component>
    </div>
    <!-- allowSorting -->
    <div class="control-input">
      <control-check-box-component
        [(value)]="InputMaster.allowSorting"
        [label]="getColumnNameByCode('allowSorting')"
      ></control-check-box-component>
    </div>
    <!-- autoExpandGroup -->
    <div class="control-input">
      <control-check-box-component
        [(value)]="InputMaster.autoExpandGroup"
        [label]="getColumnNameByCode('autoExpandGroup')"
      ></control-check-box-component>
    </div>
  </div>
  <div class="form-control">
    <div class="form-title">{{ translate("Khác", "More") }}</div>
    <!-- column_child -->
    <div class="control-input">
      <control-text-box-component
        [(value)]="InputMaster.column_child"
        [label]="getColumnNameByCode('column_child')"
      ></control-text-box-component>
    </div>
    <!-- cssClass -->
    <div class="control-input">
      <control-text-box-component
        [(value)]="InputMaster.cssClass"
        [label]="getColumnNameByCode('cssClass')"
      ></control-text-box-component>
    </div>
  </div>
</popup-component>
