<div [ngSwitch]="InputMaster.typeControl">
  <div *ngSwitchCase="typeComponent.textBox">
    <control-text-box-component
      [propertyControl]="GenValueConfig"
      [label]="
        translate(
          InputMaster.labelControlVN ?? '',
          InputMaster.labelControl ?? ''
        )
      "
      [value]="value"
      (valueChange)="handleValueChange($event)"
    ></control-text-box-component>
  </div>
  <div *ngSwitchCase="typeComponent.checkBox">
    <control-check-box-component
      [propertyControl]="GenValueConfig"
      [label]="
        translate(
          InputMaster.labelControlVN ?? '',
          InputMaster.labelControl ?? ''
        )
      "
      [value]="value"
      (valueChange)="handleValueChange($event)"
    ></control-check-box-component>
  </div>
  <div *ngSwitchCase="typeComponent.dateBox">
    <control-date-box-component
      [propertyControl]="GenValueConfigDate"
      [label]="
        translate(
          InputMaster.labelControlVN ?? '',
          InputMaster.labelControl ?? ''
        )
      "
      [value]="value"
      (valueChange)="handleValueChange($event)"
    ></control-date-box-component>
  </div>
  <div *ngSwitchCase="typeComponent.numberBox">
    <control-number-box-component
      [propertyControl]="GenValueConfigNumber"
      [label]="
        translate(
          InputMaster.labelControlVN ?? '',
          InputMaster.labelControl ?? ''
        )
      "
      [value]="value"
      (valueChange)="handleValueChange($event)"
    ></control-number-box-component>
  </div>
  <div *ngSwitchCase="typeComponent.comboBox">
    <control-select-box-component
      [label]="
        translate(
          InputMaster.labelControlVN ?? '',
          InputMaster.labelControl ?? ''
        )
      "
      [dataSource]="dataSourceItems"
      [value]="value"
      (valueChange)="handleValueChange($event)"
      [displayExpr]="'name'"
      [valueExpr]="'code'"
    ></control-select-box-component>
  </div>
  <div *ngSwitchCase="typeComponent.textArea">not exists</div>
  <div *ngSwitchDefault></div>
</div>
