<div class="container-fluid" id="qlTaiKhoan">
    <div class="tai-khoan-item  user-information-card">
        <div class="user-information-left">
            <img src="{{userInformation.avatar64 ?? '../../../../assets/image/load-image-error.jpg'}}" height="100%" width="100%" alt="avatar user">
        </div>
        <div class="user-information-right">
            <div class="user-information-full-name">{{userInformation.name ?? translate('Không xác định', 'Unknown')}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit': true, 'd-none': isLoading || dataFieldSelected === 'name'}"></i-bs></div>
            <div class="user-information-about">
                <div class="user-information-title">{{translate('Ngày sinh', "Birth")}}</div>
                <div class="user-information-value">{{formatDateString(userInformation.dateOfBirth)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'dateOfBirth'}"></i-bs></div>
            </div>
            <div class="user-information-about">
                <div class="user-information-title">{{translate('Giới tính' , 'Gender')}}</div>
                <div class="user-information-value">{{renderValue(userInformation.gender)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'gender'}"></i-bs></div>
            </div>
            <div class="user-information-about">
                <div class="user-information-title">{{translate('Bộ phận', 'Department of company')}}</div>
                <div class="user-information-value">{{renderValue(userInformation.nameDepartment)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'nameDepartment'}"></i-bs></div>
            </div>
            <div class="user-information-about">
                <div class="user-information-title">{{translate('Thời gian làm việc', 'Join a company')}}</div>
                <div class="user-information-value">{{'Chưa khởi tạo trường'}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'nameDepartment'}"></i-bs></div>
            </div>
            <div class="user-information-about">
                <div class="user-information-title">{{translate('Chi nhánh', 'Brach')}}</div>
                <div class="user-information-value">{{renderValue(userInformation.nameBrach)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'nameBrach'}"></i-bs></div>
            </div>
            <div class="user-information-about">
                <div class="user-information-title">{{translate('Công ty', 'Company')}}</div>
                <div class="user-information-value">{{renderValue(userInformation.nameCompany)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'nameCompany'}"></i-bs></div>
            </div>
        </div>
    </div>
    <div class="tai-khoan-item user-componay-information-card">
        <div class="tai-khoan-item-header">{{translate("Công việc", "Work")}}</div>
        <div class="user-information-about">
            <div class="user-information-title">{{translate('Quốc tịch', 'Natation')}}</div>
            <div class="user-information-value">{{renderValue(userInformation.nationality)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'nationality'}"></i-bs></div>
        </div>
        <div class="user-information-about">
            <div class="user-information-title">{{translate('Dân tộc', 'Nattily')}}</div>
            <div class="user-information-value">{{renderValue(userInformation.ethnicity)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'ethnicity'}"></i-bs></div>
        </div>
        <div class="user-information-about">
            <div class="user-information-title">{{translate('Sở thích', 'Interest')}}</div>
            <div class="user-information-value">{{renderValue(userInformation.interests)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'interests'}"></i-bs></div>
        </div>
        <div class="user-information-about">
            <div class="user-information-title">{{translate('Địa chỉ', 'Address')}}</div>
            <div class="user-information-value">{{renderValue(userInformation.address)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'address'}"></i-bs></div>
        </div>
        <div class="user-information-about">
            <div class="user-information-title">{{translate('Tình trạng hôn nhân','Marital status')}}</div>
            <div class="user-information-value">{{renderValue(userInformation.maritalStatus)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'maritalStatus'}"></i-bs></div>
        </div>
        <div class="user-information-about">
            <div class="user-information-title">{{translate('Số BHXH', 'Social Security Number')}}</div>
            <div class="user-information-value">{{renderValue(userInformation.bhxh)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'bhxh'}"></i-bs></div>
        </div>
        <div class="user-information-about">
            <div class="user-information-title">{{translate('Số CCCD', 'Citizen Identification Card')}}</div>
            <div class="user-information-value">{{renderValue(userInformation.cccd)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'cccd'}"></i-bs></div>
        </div>
        <div class="user-information-about">
            <div class="user-information-title">{{translate('Số điện thoại', 'Phone')}}</div>
            <div class="user-information-value">{{renderValue(userInformation.phoneNumber)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'phoneNumber'}"></i-bs></div>
        </div>
        <div class="user-information-about">
            <div class="user-information-title">{{translate('Email', 'Email')}}</div>
            <div class="user-information-value">{{renderValue(userInformation.email)}}<i-bs  name="pencil-square"  [ngClass]="{'icon-edit ': true, 'd-none': isLoading || dataFieldSelected === 'email'}"></i-bs></div>
        </div>
    </div>
    <div class="tai-khoan-item user-account-time-card">
        <div class="tai-khoan-item-header">{{translate("Cài đặt", "Settings")}}</div>
        <div class="user-account-infomation-item">
            <div class="user-account-information-block">
                <div class="user-account-time-title">{{translate("Tài khoản", "UserName")}}</div>
                <div class="user-account-time-value">{{renderValue(userInformation.id)}}</div>
            </div>
            <div class="user-account-information-block">
                <div class="user-account-time-title">{{translate("Mật khẩu", "Password")}}</div>
                <div class="user-account-time-value">{{renderValue(userInformation.id)}}</div>
            </div>
            <div class="user-account-information-block">
                <div class="user-account-time-title">{{translate("Ngày tạo", "Create")}}</div>
                <div class="user-account-time-value">{{renderValue(userInformation.id)}}</div>
            </div>
            <div class="user-account-information-block">
                <div class="user-account-time-title">{{translate("Email đắng ký", "Email")}}</div>
                <div class="user-account-time-value">{{renderValue(userInformation.id)}}</div>
            </div>
            <div class="user-account-information-block">
                <div class="user-account-time-title">{{translate("Số điện thoại", "Phone")}}</div>
                <div class="user-account-time-value">{{renderValue(userInformation.id)}}</div>
            </div>
            <div class="user-account-information-block">
                <div class="user-account-time-title">{{translate("Trạng thái", "Status")}}</div>
                <div class="user-account-time-value">{{renderValue(userInformation.id)}}</div>
            </div>
            <div class="user-account-information-block">
                <div class="user-account-time-title">{{translate("Loại tài khoản", "Account type")}}</div>
                <div class="user-account-time-value">{{renderValue(userInformation.id)}}</div>
            </div>
            <div class="user-account-information-block">
                <div class="user-account-time-title">{{translate("Đơn vị quản lý", "Company management")}}</div>
                <div class="user-account-time-value">{{renderValue(userInformation.id)}}</div>
            </div>
        </div>
        <div class="user-account-time-item">
            <div class="user-account-time-title">{{translate("Thời gian đăng nhập", "Login time")}}</div>
            <!-- <div class="user-account-time-value">{{renderValue(userInformation.loginTime)}}</div> -->
        </div>
    </div>
</div>
