@import '../../../../assets/scss/core.scss';

// #qlTaiKhoan {
//   padding: 10px 20px;

//   // .user-information-category {
//   //   background-color: white;
//   //   padding: 10px 10px 10px 10px;
//   //   border-radius: 5px;
//   //   // box-shadow: $shadowCard;
//   //   margin: 10px 5px;
//   //   position: sticky;
//   //   top: 10px;
//   // }

//   .user-information-card {
//     // border-radius: 5px;
//     // background-color: white;
//     // // box-shadow: $shadowCard;
//     // margin: 10px 5px;
//     // padding: 10px 10px 10px 10px;

//     .user-information-header {
//       font-size: $fontSize_medium;
//       font-weight: 500;
//       margin-bottom: 5px;
//     }

//     .user-information-dialog {
//       margin: 10px 0;
//       display: flex;
//       justify-content: flex-end;

//       .button+.button {
//         margin: 0 5px;
//       }
//     }

//     .user-information-about {
//       display: flex;
//       justify-content: flex-start;
//       flex-wrap: wrap;

//       .user-information-title {
//         font-weight: 500;
//         min-width: 150px;
//         width: 25%;
//       }

//       .user-information-value {
//         font-style: italic;
//       }

//       .user-information-editor {
//         width: 100%;
//       }
//     }

//   }
// }


.tai-khoan-item {
  width: 100%;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  padding: 20px 20px;
  margin: 10px 0;

  overflow: hidden;

  .user-information-full-name {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
  }

  .user-information-about {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 8px;


    .user-information-title {
      font-weight: 500;
      min-width: 100px;
      width: 100px;
      align-content: center;
    }

    .user-information-value {
      font-style: italic;
      width: calc(100% - 100px);
    }

    .user-information-editor {
      width: 100%;
    }

    // .user-information-value::before {
    //   content: ":";
    //   margin-right: 3px;
    //   font-style: normal;
    // }
  }

  .icon-edit{
    margin: 0 5px;
    color: #BBBFCA;
    cursor: pointer;
    user-select: none;
  }

  .icon-edit:hover{
    margin: 0 5px;
    color: #495464;
  }

  .tai-khoan-item-header{
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}



.tai-khoan-item.user-information-card {

  display: flex;
  align-items: stretch;

  .user-information-left {
    height: 100px;
    width: 100px;
    min-width: 100px;

    img {
      border-radius: 100%;
    }
  }

  .user-information-right {
    width: calc(100% - 100px);
    max-width: calc(100% - 100px);
    padding-left: 20px;
  }
}
