/* You can add global styles to this file, and also import other style files */

$color-light : #fff;
$color-dark : #000000;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .cursor-wait{
    cursor: wait;
  }
}

.ql-text {
  color: $color-light
}



@import 'bootstrap5/scss/bootstrap';
