@import '../../../assets/scss/core.scss';

.menu-container {
  width: 100%;
  padding: 0;

  .list-menu-item {
    list-style-type: none;
    background-color: $color2;
    font-weight: $fontWeight_title;
  }
 
  .ct-collapse {
    color: #fff;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ct-collapse.show {
    .expand-icon {
      transform: rotate(180deg);
    }
  }

  .ct-collapse.active,
  .ct-collapse:active,
  .ct-collapse:hover {
    background-color: $color2b;
    cursor: pointer;
  }

  .collapse {
    .list-menu-item {
      background-color: $color2a;
    }
  }

}
