<ul class="menu-container">
  <li
    *ngFor="let menu of menuPermissions; trackBy: identifyFarent"
    class="list-menu-item"
  >
    <a
      class="ct-collapse nav-link"
      (click)="eventClickMenu(menu?.parent, menu)"
      [id]="menu?.parent?.menuid"
    >
      {{ translate(menu?.parent?.name, menu?.parent?.name) }}
      <mat-icon
        *ngIf="menu?.parent?.isParent"
        class="expand-icon"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="expand_more"
      ></mat-icon>
    </a>
    <ul [className]="'collapse   ' + menu?.parent?.menuid?.replaceAll('.','-')">
      <li
        *ngFor="let menu2 of menu.child; trackBy: identifyChild"
        class="list-menu-item"
      >
        <a
          (click)="eventClickMenu(menu2?.parent, menu)"
          class="nav-link ct-collapse menu-level-2"
          [id]="menu2?.parent?.menuid"
        >
          {{ translate(menu2?.parent?.name, menu2?.parent?.name) }}
        </a>
        <!-- <ul>
          <li *ngFor="let menu3 of menu2.child">
            <a (click)="eventClickMenu(menu3)" class="nav-link">
              {{ translate(menu3?.name, menu3?.name) }}
            </a>
          </li>
        </ul> -->
      </li>
    </ul>
  </li>
</ul>
